<div class="p-4 mb-3 bg-light rounded"> 
<h4 class="blog-post-title"><a href="{{url_for('post', post=likedpost.post.id)}}">{{likedpost.post.title}}</a></h4>
<p class="blog-post-meta">{{ likedpost.post.timestamp.strftime('%Y-%m-%d')}} by <a href="{{ url_for('user', username=likedpost.post.author.username)}}">{{likedpost.post.author.first_name}} {{likedpost.post.author.last_name}}</a></p>  

{% for ticker in likedpost.post.tickers %}
<a href="{{url_for('ticker', ticker=ticker.symbol)}}" class="badge badge-light">{{ticker.symbol}}</a>
{% endfor %}

	{% if not current_user.is_anonymous %}
          <p>{% if current_user.has_liked_post(likedpost.post) %}
         	<h6> <a href="{{ url_for('like_action', post_id=likedpost.post.id, action='unlike') }}">Unlike</a> </h6>
			{{ likedpost.post.likes.count() }} likes  
			 {% else %}

           	<h6> <a href="{{ url_for('like_action', post_id=likedpost.post.id, action='like') }}">Like</a> </h6>
			{{ likedpost.post.likes.count() }} likes   
           {% endif %}  
			
          </p>
        {%endif%}

</div><hr>