 <div class="p-4 mb-3 bg-light rounded"> 
	<h4 class="blog-post-title"><a href="{{url_for('post', post=post.id)}}">{{post.title}}</a></h4>
	<p class="blog-post-meta">{{ post.timestamp.strftime('%Y-%m-%d')}} by <a href="{{ url_for('user', username=post.author.username)}}">{{post.author.first_name}} {{post.author.last_name}}</a></p>

		{% for ticker in post.tickers %}
		<a href="{{url_for('ticker', ticker=ticker.symbol)}}" class="badge badge-light">{{ticker.symbol}}</a>
		{% endfor %} 
	
	{% if not current_user.is_anonymous %}
          <p>{% if current_user.has_liked_post(post) %}
         	<h6> <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a> </h6>
			{{ post.likes.count() }} likes  
			 {% else %}

           	<h6> <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a> </h6>
			{{ post.likes.count() }} likes   
           {% endif %}  
			
          </p>
        {%endif%}

	</div>
