<!DOCTYPE html>
<html>
<head>
  <title>MoreAlpha</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-grid.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-grid.min.css.map')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-reboot.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='js/bootstrap.bundle.js')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='js/bootstrap.min.js')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='js/bootstrap.js')}}">
</head>
<body>

  {% include '_navbar.html' %}

    <div class="container">
      <br>

        {% block content %}
        {% endblock %}
    </div>
    </div>
  </div>


  </div>
</body>
</html>



