{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      
      <div class="alert alert-success" role="alert">
          {{ message }}
    </div>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith%}
    <form class="form-group" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32, class_="form-control") }}<br>

            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32, class_="form-control") }}<br>

            {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4, class="form-control") }}<br>
            
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
{% endblock %}