{% extends "base.html" %}

{% block content %}

  <br>
  <div class="container">
    <div class="jumbotron">
    <h1 class="display-4">Learn about investing</h1>
    <p class="lead">A crowd-sourced platform for learning about investing using the qualitative aspects of stocks</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{{url_for('login')}}" role="button">Learn more</a>
    </div>

    <h1> Recent Posts </h1>
    {% for post in posts %}
    	{{ post.title }} <br>
    	{{ post.author.first_name }} {{ post.author.last_name }} <br>
    	{{ post.body }} <br>
    {% endfor %}

  {% endblock %}    
