{% extends "base.html" %}

{% block content %}

	<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{post.title}}</h1>

        <!-- Author -->
        <p class="lead">
          by <a href="{{ url_for('user', username=post.author.username)}}">{{post.author.first_name}} {{post.author.last_name}} </a>
          </p>

	    <div>   {% for ticker in post.tickers %}
 	    	<a href="{{url_for('ticker', ticker=ticker.symbol)}}" class="badge badge-light">{{ticker.symbol}}</a> 
	    		{% endfor %}

		</div>
      {% if not current_user.is_anonymous %}
          <p>
            {% if current_user.has_liked_post(post) %}
            <h6> <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a> - {{ post.likes.count() }} likes  </h6>
      
       
       {% else %}

              <h6> <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a> - {{ post.likes.count() }} likes  </h6>
       
           {% endif %}  
          </p>
    {%endif%}
        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ post.timestamp.strftime('%Y-%m-%d')}}</p>



        <hr>
			   {{post.body | safe }}
        <hr>


      </div>
    <!-- /.row -->

  </div>
	

<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

{% endblock %}

